
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
.form{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 800px;
    justify-content: center;

}
.form-group{
    align-items: center;
    justify-content: center;
}
input {
    box-sizing: border-box;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
li{
    max-width: 400px;
    margin-bottom: 10px;
}
ul{
 list-style-type: disc;
}
input.valid{
    border-color: green;
    color: green;
}
input.invalid{
    border-color: red;}

input + ul li{
    margin: 10px;
    color: red;
    opacity: 0;
}
input.valid + ul li{
    color: green;
    opacity: 1;
}
input.invalid + ul li{
    opacity: 1;
}
h2{
    margin:10px;
    font-weight: normal;
    text-align: center;
}